.text_center {
    text-align: center;
    color: red;
}

.imgShadow {
    box-shadow: 0 0 5px 3px #00000042;
}

.battleCardImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.popularContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}